/*-- scss:defaults --*/

// Color
$primary: #ee6c4d !default;
$primary-faded: rgba($primary, 0.1) !default;
$primary-light: lighten($primary, 20%) !default;
$primary-dark: darken($primary, 20%) !default;
$primary-darkest: darken($primary, 30%) !default;

$secondary: #17a398 !default;
$secondary-faded: rgba($secondary, 0.1) !default;
$secondary-light: lighten($secondary, 20%) !default;
$secondary-dark: darken($secondary, 20%) !default;
$secondary-darkest: darken($secondary, 30%) !default;

$light: #f4f4f4 !default;
$light-faded: rgba($light, 0.05) !default;

$dark: #222222 !default;
$darkish: #333333 !default;
$dark-faded: rgba($dark, 0.8) !default;

// Color: Skills
$analytics: #dbc19d !default;
$warning: $analytics !default;

$process-mapping: #c09f71 !default;
$info: $process-mapping !default;

$transfer-of-knowledge: #a57d45 !default;
$success: $transfer-of-knowledge !default;

// Color: Portfolio
$netflix: #e63946 !default;
$recipe: #b3a9ef !default;

// Font
$web-font-path: "https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans:wght@100;400;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

$font-family-sans-serif: "Fira Sans", sans-serif;
$font-family-monospace: "Fira Code", monospace;

/*-- scss:rules --*/

// General
body {
  background: $dark;
  color: $light;

  p {
    font-weight: 100;

    a {
      font-family: $font-family-monospace;
    }
  }

  a {
    color: $primary-light;
    font-weight: 400;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }

  i {
    color: $secondary;
  }

  ul {
    list-style-type: none;
    padding-bottom: 0.5rem;

    code {
      font-family: $font-family-sans-serif;
      color: $light;
      background: $light-faded !important;
    }

    em {
      font-weight: 100;
    }
  }

  ol {
    font-weight: 100;

    li {
      padding-bottom: 0.5rem;
    }
  }
}

// Navbar
.navbar-title {
  font-family: $font-family-monospace;
  font-weight: 700;
  color: $light;
}

.menu-text {
  color: $light;
}

.navbar {
  background: $primary !important;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-monospace;
}

h1 {
  color: $secondary;
}

h2 {
  color: $primary;
  // text-align: center;
}

h3 {
  text-align: center;
  padding-bottom: 1rem;
}

// Icons

i {
  :hover {
    color: $primary;
  }
}

code {
  background: $darkish !important;
  color: $secondary-light !important;
}

// Classes

.title {
  display: none;
}

// .figure:hover {
//   transform: scale(1.05);
//   transition: all 0.5s ease-in-out;
//   opacity: 0.8;
// }

.column-container {
  color: $primary-light;
}

// Sections
#TOC {
  border-left: 1px solid $secondary-faded;

  a {
    border-left: none;
  }
}

#intro {
  border-left: 0.5rem solid $primary;
  border-bottom: 0.5rem solid $secondary-faded;
  background: $light-faded;
  padding-left: 1rem;
  padding-top: 1rem;

  hr {
    width: 90%;
    margin: auto;
  }

  #social {
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    justify-content: center;

    i {
      color: $secondary;

      &:hover {
        color: $primary;
      }
    }
  }

  strong {
    font-family: $font-family-monospace;
    font-size: 3rem;
    font-weight: 700;
  }

  p {
    text-align: center;
  }
}

.skills-cards {
  width: 75%;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: $secondary-faded;
  border-right: 0.5rem solid $secondary-dark;
  // border-left: 0.5rem solid $primary-darkest;
  h3 {
    font-weight: 700;
  }

  i {
    font-size: 2.5rem;
  }

  p {
    text-align: center;
  }

  &:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    opacity: 0.8;

    // h3 {
    //   color: $primary-light;
    //   transition: all 0.5s ease-in-out;
    // }
  }
}

#analytics-card {
  border-left: 0.5rem solid $analytics;

  &:hover {
    h3 {
      color: $analytics;
      transition: all 0.5s ease-in-out;
    }
  }

  .badge.bg-primary {
    background: $analytics !important;
  }
}

#process-mapping-card {
  border-left: 0.5rem solid $process-mapping;

  &:hover {
    h3 {
      color: $process-mapping;
      transition: all 0.5s ease-in-out;
    }
  }

  .badge.bg-primary {
    background: $process-mapping !important;
  }
}

#transfer-of-knowledge-card {
  border-left: 0.5rem solid $transfer-of-knowledge;

  &:hover {
    h3 {
      color: $transfer-of-knowledge;
      transition: all 0.5s ease-in-out;
    }
  }

  .badge.bg-primary {
    background: $transfer-of-knowledge !important;
  }
}

#curriculum-vitae {
  i {
    color: $primary-light;
  }

  .cv-cards {
    justify-content: center;
    text-align: center;

    p {
      padding: 2rem;
    }
  }
}

.portfolio-cards {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  .portfolio-header {
    background: $dark-faded;
    padding: 1rem;
    margin-top: 0;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  .portfolio-badges {
    text-align: center;
  }

  ul {
    display: flex;
    justify-content: center;
    padding: 0;

    li {
      // text-align: center;
      padding: 0rem 1rem;
    }
  }
}

#netflix-card {
  background-color: rgba($color: $netflix, $alpha: 0.05);
  border-left: 0.5rem solid $netflix;

  .badge.bg-primary {
    background: $analytics !important;
  }
}

#recipe-card {
  background-color: rgba($color: $recipe, $alpha: 0.05);
  border-left: 0.5rem solid $recipe;
  .badge.bg-primary {
    background: $process-mapping !important;
  }
}

#coming-soon {
  text-align: center;
  padding-top: 2rem;
  font-size: 1.5rem;
}

#toc-title {
  color: $light;
  font-weight: 100;
}

// Footer
.nav-footer {
  background: $secondary-dark;
  // color: $dark;

  a {
    color: $primary-light;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }

  i {
    color: $primary-light;
    font-size: 1rem;

    &:hover {
      color: $primary;
    }
  }
}

// Media Queries
@media (max-width: 768px) {
  .navbar-title {
    font-size: 1.15rem;
  }

  #intro {
    #social {
      padding-bottom: 0.5rem;
      font-size: 1.5rem;
    }

    strong {
      font-size: 2rem;
    }
  }

  .skills-cards {
    .level3 {
      h3 {
        font-size: 1.25rem;
      }

      i {
        font-size: 1.5rem;
      }
    }
  }

  .cv-cards {
    flex-direction: column;

    p {
      padding: 1rem !important;
    }
  }
}
