/*-- scss:defaults --*/

// Color
$primary: #ee6c4d !default;
$primary-faded: rgba($primary, 0.1) !default;
$primary-light: lighten($primary, 20%) !default;
$primary-dark: darken($primary, 20%) !default;
$primary-darkest: darken($primary, 30%) !default;

$secondary: #17a398 !default;
$secondary-faded: rgba($secondary, 0.1) !default;
$secondary-light: lighten($secondary, 20%) !default;
$secondary-dark: darken($secondary, 20%) !default;
$secondary-darkest: darken($secondary, 30%) !default;

$light: #f4f4f4 !default;
$light-faded: rgba($light, 0.05) !default;

$dark: #222222 !default;
$darkish: #333333 !default;
$dark-faded: rgba($dark, 0.05) !default;

// Font
$web-font-path: "https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans:wght@100;400;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

$font-family-sans-serif: "Fira Sans", sans-serif;
$font-family-monospace: "Fira Code", monospace;

/*-- scss:rules --*/

// General
body {
  background: $dark;
  color: $light;

  p {
    font-weight: 100;

    a {
      font-family: $font-family-monospace;
    }
  }

  a {
    color: $primary-light;
    font-weight: 400;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }

  i {
    color: $secondary;
  }

  li {
    list-style-type: none;
    padding-bottom: 0.5rem;

    code {
      font-family: $font-family-sans-serif;
      color: $light;
      background: $light-faded !important;
    }

    em {
      font-weight: 100;
    }
  }
}

// Navbar
.navbar-title {
  font-family: $font-family-monospace;
  font-weight: 700;
  color: $light;
}

.menu-text {
  color: $light;
}

.navbar {
  background: $primary !important;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-monospace;
}

h1 {
  color: $secondary;
}

h2 {
  color: $primary;
  // text-align: center;
}

h3 {
  text-align: center;
  padding-bottom: 1rem;
}

// Icons

i {
  :hover {
    color: $primary;
  }
}

code {
  background: $darkish !important;
  color: $secondary-light !important;
}

// Classes

.title {
  display: none;
}

// .figure:hover {
//   transform: scale(1.05);
//   transition: all 0.5s ease-in-out;
//   opacity: 0.8;
// }

.column-container {
  color: $primary-light;
}

// Sections
#TOC {
  border-left: 1px solid $secondary-faded;

  a {
    border-left: none;
  }
}

#intro {
  border-left: 0.5rem solid $primary;
  border-bottom: 0.5rem solid $secondary-faded;
  background: $light-faded;
  padding-left: 1rem;
  padding-top: 1rem;

  hr {
    width: 90%;
    margin: auto;
  }

  #social {
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    justify-content: center;

    i {
      color: $secondary;

      &:hover {
        color: $primary;
      }
    }
  }

  #roles {
    p {
      color: #53616d;
      font-weight: 400;
      width: 90%;
    }
  }

  strong {
    font-family: $font-family-monospace;
    font-size: 3rem;
    font-weight: 700;
  }

  p {
    text-align: center;
  }
}

.skills-cards {
  width: 75%;
  margin: auto;

  .level3 {
    background-color: $secondary-faded;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border-left: 0.5rem solid $primary-darkest;
    border-right: 0.5rem solid $secondary-dark;

    &:nth-child(even) {
      background-color: $secondary-darkest;
    }

    h3 {
      font-weight: 700;
    }

    i {
      font-size: 2.5rem;
    }

    p {
      text-align: center;
    }

    &:hover {
      transform: scale(1.05);
      transition: all 0.5s ease-in-out;
      opacity: 0.8;

      h3 {
        color: $primary-light;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

#curriculum-vitae {
  i {
    color: $primary-light;
  }

  .cv-cards {
    justify-content: center;

    p {
      padding: 2rem;
    }
  }
}

.portfolio-cards {
  img:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
  }

  section {
    flex: 1;
  }
}

#coming-soon {
  text-align: center;
  padding-top: 2rem;
  font-size: 1.5rem;
}

#toc-title {
  color: $light;
  font-weight: 100;
}

// Footer
.nav-footer {
  background: $secondary-dark;
  // color: $dark;

  a {
    color: $primary-light;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }

  i {
    color: $primary-light;
    font-size: 1rem;

    &:hover {
      color: $primary;
    }
  }
}

// Media Queries
@media (max-width: 768px) {
  .mycards {
    flex-direction: column;
  }
}
